<section id="avenues">
    <h1 >OUR SPORTING AVENUES</h1>

    <marquee [scrollAmount]="20">

        <a href="">
            <img src="../../../assets/images/cric.png" alt="">

        </a>
        <img src="../../../assets/images/foot.png" alt="">
        <img src="../../../assets/images/badminton.png" alt="">
        <img src="../../../assets/images/basket.png" alt="">
        <img src="../../../assets/images/kabaddi.png" alt="">  
        <img src="../../../assets/images/swim.png" alt="">
    </marquee>



    <button class="my-button" ><a routerLink="details">See More details..</a></button>


</section>


<!-- <app-sponsors></app-sponsors> -->
