<app-navbar></app-navbar>

<marquee [scrollAmount]="20">

    <a href="">
        <img src="../../../assets/images/cric.png" alt="">

    </a>
    <img src="../../../assets/images/foot.png" alt="">
    <img src="../../../assets/images/badminton.png" alt="">
    <img src="../../../assets/images/basket.png" alt="">
    <img src="../../../assets/images/kabaddi.png" alt="">  
    <img src="../../../assets/images/swim.png" alt="">
</marquee>

<hr>
<!-- <div class="desc">
<h3>In our club we provide you the best facility with fully modern equipments and also there is professional Coach/Trainer which helps you to acheive your goals.</h3>
<h4>Below we have provided the details about registration, </h4>
</div> -->


<table>
    <colgroup>
        <col style="width: 10%;">

        <col style="width: 30%;">
        <col style="width: 30%;">
        <col style="width: 30%;">
    </colgroup>
    <tr>
      <th>SrNo.</th>
      <th>Sports</th>
      <th>Fees</th>
      <th>Time</th>
    </tr>
    <tr>
      <td>1</td>
    <td>Club Membership</td>
    <td>Rs 500 (one time) </td>
    <td>--</td>
    </tr>
    <tr>
        <td>2</td>
      <td>cricket</td>
      <td>Rs 700 per month</td>
      <td>6:00 am to 12:00 pm || 4:00 pm to 8:00 pm</td>
    </tr>
    <tr>
        <td>3</td>
      <td>Football</td>
      <td>Rs 700 per month</td>
      <td>7:00 am to 11:00 am || 4:00 pm to 9:00 pm</td>
    </tr>
    <tr>
        <td>4</td>
      <td>Gym</td>
      <td>Rs 1000 per month</td>
      <td>6:00 am to 12:00 pm || 4:00 pm to 10:00 pm</td>
    </tr>
    <tr>
        <td>5</td>
      <td>Basketball</td>
      <td>Rs 600 per month</td>
      <td>7:00 am to 10:00 am || 5:00 pm to 9:00 pm</td>
    </tr>
    <tr>
        <td>6</td>
      <td>Swimming</td>
      <td>Rs 1200 per month</td>
      <td>4:00 pm to 10:00 pm</td>
    </tr>
    <tr>
        <td>7</td>
      <td>kabaddi</td>
      <td>Rs 500 per month</td>
      <td>4:00 pm to 9:00 pm</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Badminton</td>
      <td>Rs 700 per month</td>
      <td>7:00 am to 11:00 am || 5:00 pm to 9:00 pm</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Tennis</td>
      <td>Rs 1000 per month</td>
      <td>7:00 am to 10:00 am || 5:00 pm to 9:00 pm</td>
    </tr>
</table>

<button class="my-button" (click)="navigatetoRegistration()">  Register here</button>




 