<div class="spons">

    <div class="title">
        <h1>OUR SPONSORS</h1>
    </div>


    <div class="logos">
        <ul class="list">
            <li><a href=""><img src="../../assets/images/nike (1).png" alt=""></a></li>
            <li><a href=""><img src="../../assets/images/puma (1).png" alt=""></a></li>
            <li><a href=""><img src="../../assets/images/addidas (1).png" alt=""></a></li>
            <li><a href=""><img src="../../assets/images/jordan.png" alt=""></a></li>
            <li><a href=""><img src="../../assets/images/reebok.png" alt=""></a></li>
            <li><a href=""><img src="../../assets/images/shiv_naresh (1).png" alt=""></a></li>
            <li><a href=""><img src="../../assets/images/yonex.png" alt=""></a></li>
            <li><a href=""><img src="../../assets/images/new_balance.png" alt=""></a></li>

        </ul>
    </div>

</div>

<!-- <app-footer></app-footer> -->

