<!-- <div class="about">

    <div class="info" >
        <h3>About Club</h3>
        <h1>Lions Sports Club</h1>
    
        <p>Lion Sporting Club is an institution with a rich tradition and history. At heart it is a sporting institution and has been host to a number of iconic sporting events over the years. Its membership is aspirational and it is recognized as a quality institution in the society at large and one of the pre-eminent clubs of India. It is represented by a lovely heritage building with a verandah at its heart from where all sports facilities emanate.</p>
        
        <a href="">read more</a>

    </div>

    <div class="img1">
        <img src="../../../assets/images/about_cricket.png"  alt="">

    </div>
     
    <div class="img2">
        <img src="../../../assets/images/gym_photos.png" alt="">

    </div>

</div> -->

<section class="about section-padding bg-cream" id="about">
    <!-- <button class="add-button">Add to home screen</button> -->
    <div class="container">
        <div class="row ">
            <div class=" col-md-6 col-12 col-sm-12 mb-30  sm-block  animate-box info" data-animate-effect="fadeInUp">
                <div class="section-subtitle"><h3>About Club</h3></div>
                <div class="section-title"><h1>Lions Sports Club</h1></div>
                <p>Lions Sports Club is an institution with a rich tradition and history. At heart it is a sporting institution and has been host to a number of iconic sporting events over the years. Its membership is aspirational and it is recognized as a quality institution in the society at large and one of the pre-eminent clubs of India. It is represented by a lovely heritage building with a verandah at its heart from where all sports facilities emanate.</p>
                <br>
                <p>A regular club member is often someone who has grown up in the club, is comforted by its familiarity, enjoys and plays a number of sports and participates in its various social activities. They take pride when their sporting teams do well and enjoy the popularity of its social milieu. They develop strong bonds with fellow members leading often to enduring friendships... </p>
                <div class="butn-dark intersterd" style="margin-top:20px;"> <a href=""><span>Read More</span></a>
                </div>
            </div>
            <div class=" col-md-3 col-6 col-sm-6 animate-box sm-img-blk img1" data-animate-effect="fadeInUp">
                <img src="../../../assets/images/about_cricket.png" alt="" class="mt-90 mb-30 about-img ">
            </div>
            <div class=" col-md-3 col-6 col-sm-6 animate-box sm-img-blk img2" data-animate-effect="fadeInUp">
                <img src="../../../assets/images/gym_photos.png" alt="" class="about-img ">
            </div>
        </div>
    </div>
</section>  

<!-- <app-facility></app-facility> -->

