/* .info{
    display:flex;
    
} */


img{
    width:250px;
    height:400px;
    margin:auto;
}

.img1{
    
    padding-top: 50px;
}

.img2{
    
    padding-bottom: 50px;
}
#about{
    margin: auto;
    padding-top: 5vh;
    /* margin-top:5vh; */
    /* margin-bottom:5vh; */
    padding-bottom: 5vh;
    background-color: black
    
    
}
h1{
    color: yellow;
}
h3,p{
    color: white;
}