<div class="gallery">
    <div class="heading">
        <h3>Photo <span>Gallery</span></h3>
    </div>
    <div class="box">
    <div class="dream">
        <img src="../../../assets/images/app.jpg" alt="">
        <img src="../../../assets/images/348079.webp" alt="">
        
        <img src="../../../assets/images/cr7.jpg" alt="">
       
        <img src="../../../assets/images/ney.jpg" alt="">
        <img src="../../../assets/images/vk.jpg" alt="">
    
    </div>

    <div class="dream">
        <img src="../../../assets/images/4.webp" alt="">
        <img src="../../../assets/images/348101.webp" alt="">
        <img src="../../../assets/images/fwc.webp" alt="">
        <img src="../../../assets/images/leo.jpg" alt="">
        <img src="../../../assets/images/mb.webp" alt="">
    </div>
    <div class="dream">
        <img src="../../../assets/images/cel.webp" alt="">
        <img src="../../../assets/images/291912.webp" alt="">
        <img src="../../../assets/images/3.webp" alt="">
        <img src="../../../assets/images/ben.jpeg" alt="">
        <img src="../../../assets/images/Dhawan.jpg" alt="">
    </div>
    </div>
</div>
