<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/images/w2.jpg" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h4>Welcome to</h4>
			<h1>Lions Sports Club</h1>
			
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/images/w3.jpg" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<!-- <h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/images/w5.jpg" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<!-- <h3>Third slide label</h3>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
		</div>
	</ng-template>
</ngb-carousel>

<!-- <app-about></app-about> -->
